# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production
.dev.vars

# wrangler
.wrangler/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# yarn berry (no zero-installs; see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
